@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Grape+Nuts&family=Lobster&family=Nunito:wght@200&family=Poppins:wght@100;200;300&family=Roboto:wght@100&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-image: url(/Assets/img/Digital-eucation-9\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#container #head img {
    display: block;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 200px;
    height: fit-content;
}

#container #head button {
    background-color: royalblue;
    padding: 5px;
    margin: 15px;
    display: block;
}

#container #head button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#left {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    color: #09203F;
    text-align: center;
}

#form {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
}

#form p {
    margin: 0;
    font-size: 13px;
}

input {
    width: 300px;
    margin: 14px;
    border: none;
    padding: 10px 8px;
    border-radius: 18px;
    box-shadow: 0 1px 8px 1px rgba(12, 8, 8, 0.3);
}

input:focus {
    outline: none;
}

#submit {
    width: 180px;
    box-shadow: none;
    color: #FFFFFF;
    background-image: linear-gradient( royalblue, #09203F);
    font-size: 14px;
    border: none;
    padding: 10px 8px;
    border-radius: 18px;
}

.head {
    font-size: 45px;
    margin: 0;
}

#right {
    background-image: linear-gradient( #537895, #09203F);
    width: 45%;
    height: 100vh;
    color: #ffffff;
    text-align: center;
}

.content {
    padding-top: 220px;
}

#para {
    padding: 0px 34px;
    text-align: justify;
    width: 90%;
}